.bg-dirty-purple {background-color: #000000;}

.btn-dirty-purple 
{ 
  color: #3D7878;
  background-color: #5CADAD;
}

.btn-dirty-purple:hover 
{
  color: #D2BFE0;
  text-decoration: none;
}

.desc {height: 20em;}

.welcome {
  height: 40em;
  padding: 100px 100px 100px 100px;
}

