.bg-dirty-purple {background-color: Indigo;}

.btn-dirty-purple 
{ 
  color: #A179BE;
  background-color: Indigo;
}

.btn-dirty-purple:hover 
{
  color: #D2BFE0;
  text-decoration: none;
}

.desc {height: 20em;}

.welcome {
  height: 40em;
  padding: 100px 100px 100px 100px;
}


#box{
background-color: #dfefff ; 
border:2.5px solid #fff ;  
box-shadow:0 0 0 2px #dfefff ;  
margin:2em 0 ;  /*與其他方塊距離*/
padding:15px ;  /*方塊內文字與邊框距離*/
}  
