.bg-color {background-color: #336666;}

.nav-item {color: #000000;}

.btn-color
{ 
  color: #B3D9D9;
  background-color: #336666;
}

.btn-color:hover 
{
  color: #FFFFFF;
  text-decoration: none;
}

.desc {height: 20em;}

.welcome {
  height: 40em;
  padding: 100px 100px 100px 100px;
}

