{% extends "base.html" %}

{% block title %}我要開團{% endblock %}

{% block main %}

  <div class="container" style="margin: 4em auto">
    
    <div class="row">

      {% for data in html_data[0:4] %}
      <div class="col">
        <p style="background:#dfefff">{{data[0]}}</p>
        <div class="img-group" style="background-image: url(data[1])">
        </div>
        <h5>{{data[2]}}</h5>
        <span><font color=#444444>地點: {{data[3]}}</br>時間: {{data[4]}} {{data[5]}}</br>費用: {{data[6]}}</font></span>
      </div>
      {% endfor %}

    </div>
  </div>

{% endblock %}

