{% extends "base.html" %}

{% block title %}我要開團{% endblock %}

{% block main %}

  <div class="container" style="margin: 4em auto">

    <div class="row-title">
      <h1 style="color:#3D7878"><img src="static/img/group.png" width="65" height="65"> 我要開團</h1>
    </div>

    <form method="post" action="/group" enctype='multipart/form-data' autocomplete="off">
      <div class="row">
        <label for="activity_type" class="col-2 offset-1 col-form-label"><i class="far fa-dot-circle"></i> 活動類型：</label>
        <div class="col-3"> 
          <select id="activity_type", name="activity_type"}>
            <option value="登山踏青">登山踏青</option>
            <option value="桌遊麻將">桌遊麻將</option>
            <option value="吃吃喝喝">吃吃喝喝</option>
            <option value="唱歌跳舞">唱歌跳舞</option> 
          </select>
        </div>
      </div>

      {% macro easy_row(id, type, text, required) -%}
        <div class="row">
          <label for={{id}} class="col-2 offset-1 col-form-label" style="line-height:30px"><i class="far fa-dot-circle"></i> {{text}}：</label>
          <div class="col-3">
            <input type={{type}} class="form-control" id={{id}} name={{id}} maxlength=40 {{required}}>
          </div>
        </div>
      {%- endmacro %}

      {{ easy_row("activity_name", "text", "活動名稱", "required") }}
      {{ easy_row("activity_date", "date", "活動日期", "required") }}
      {{ easy_row("activity_time", "time", "活動時間", "required") }}
      {{ easy_row("location_tittle", "text", "活動地點", "required") }}
      {{ easy_row("people", "number", "活動人數", "required") }}
      {{ easy_row("cost", "number", "活動費用", "required") }}
      {{ easy_row("due_date", "date", "報名截止日") }}

      <div class="row" style="margin-bottom:5px">
        <label for="description" class="col-2 offset-1 col-form-label" style="line-height:30px"><i class="far fa-dot-circle"></i> 活動敘述：</label>
        <div class="col-3">
          <textarea row="3" class="form-control" id="description" name="description"></textarea>
        </div>
      </div>

      <div class="row">
        <label for="photo" class="col-2 offset-1 col-form-label" style="line-height:30px"><i class="far fa-dot-circle"></i> 活動照片：</label>
        <div class="col-3">
          <input type="file" accept=".jpg,.jpeg,.png" class="form-control" id="photo" name="photo">
        </div>
      </div>
      
<hr class="my-4">

      {% macro user_row(id, type, text, dafault_value, required) -%}
        <div class="row">
          <label for={{id}} class="col-2 offset-1 col-form-label" style="line-height:30px"><i class="far fa-dot-circle"></i> {{text}}：</label>
          <div class="col-3">
            <input type={{type}} class="form-control" id={{id}} name={{id}} value={{dafault_value}} {{required}}>
          </div>
        </div>
      {%- endmacro %}

      {{ user_row("name", "text", "主揪姓名", html_data[0], "required") }}
      {{ user_row("phone", "tel", "主揪電話", html_data[1], "required") }}

      <div class="row"></div>
        <div class="col"></br></div>

      <div class="row">
        <div class="col-4"></div>
        <div class="col">
          <button type="submit" class="btn btn-primary" style="background-color:#81C0C0; border:0px">送出開團資訊</button>
        </div>
      </div>


    </form>

  </div>
{% endblock %}

