{% extends "base.html" %}

{% block title %}邊緣人揪團{% endblock %}

{% block main %}
<div class="jumbotron" style="background-image: url('static/img/cover_photo.jpg');background-repeat: no-repeat;background-size: 100%;background-position: 50% 40%;">
  <h1 class="display-4"><font color="#3D7878">邊緣人揪團去！</font></h1>
  <p class="lead">解決邊緣人沒朋友的困擾，想開團、想+1這裡通通都可以！</p>
  <hr class="my-4">
  <p><a href="https://www.ccclub.io/home/" style="color:#3D7878; font-weight:bold">ccClub 2020Spring</a> 期末專案延伸</p>
  <a class="btn-color btn-lg" href="/more_information" role="button">了解更多</a>
</div>

<div class="container">

  <div class="row">
    <div class="col">

      <h2><a href="/group" style="color:#3D7878"><img src="static/img/group.png" width="60" height="60">  我要開團</a></h2>
      <p>揪團機器人提供四種活動類型，包括<strong>登山踏青</strong>、<strong>桌遊麻將</strong>、<strong>吃吃喝喝</strong>、和<strong>唱歌跳舞</strong>，接下來機器人會透過一問一答的方式向你發問活動的必要資訊。機器人也會從資料庫裡自動帶入你的個人資料，若你是第一次使用，機器人會向你詢問你的個人資料。確認所有資訊都正確後按下<strong>確認開團</strong>按鈕就完成開團了！</p>
    </div>

    <div class="col">
      <h2><a href="/registration" style="color:#3D7878"><img src="static/img/registration.png" width="60" height="60">  我要報名</a></h2>
      <p>選擇想要的活動類型後，機器人會從資料庫裡進行篩選，挑出還在報名期限內、同時報名人數未達上限的團呈現給你，此時可以查看詳細資訊，或是直接報名，同樣的機器人也會從資料庫搜尋並自動帶入你的個人資訊。確認資料無誤後，點下<strong>確認報名</strong>按鈕就完成了！而機器人同時也會更新該活動的已報名人數。</p>
    </div>

  </div>


  <div class="row">
    <div class="col">
      <h2><a href="/my_group" style="color:#3D7878"><img src="static/img/my_group.png" width="60" height="60">  我的開團紀錄</a></h2>
      <p>機器人會從資料庫中彙整所有開團資訊，在這個階段你可以看到你開的團的活動資訊以及報名者資訊，如果想要提早結束報名，也可以在這個時候點下<strong>結束報名</strong>按鈕，這樣你的團就會關閉，不再接受報名。</p>
    </div>
    <div class="col">
      <h2><a href="/my_registration" style="color:#3D7878"><img src="static/img/my_registration.png" width="60" height="60">  我的報名紀錄</a></h2>
      <p>機器人會從資料庫中彙整你的報名紀錄，在此你可以查看該團的活動資訊，若想取消則可按下<strong>取消報名</strong>按鈕便完成取消。機器人也會自動更新該活動的已報名人數。</p>
    </div>
  </div>

</div>

{% endblock %}