{% extends "base.html" %}

{% block title %}登入{% endblock %}

{% block main %}

  <div class="container" style="margin: 4em auto">
    
    <div class="row_login">
      <h2>使用者登錄</h2>
    </div>

    <form method="POST" action="/login">
      <div class="row_form"></br></div>
      <div class="row_form">
        <label for="user_id" class="col-1">帳號：</label>
        <div class="col-3">
          <input type="text" class="form-control" id="user_id" name="user_id">
        </div>
      </div>
      <div class="row-form"></br></div>
      <div class="row_form">
        <label for="password" class="col-1">密碼：</label>
        <div class="col-3">
          <input type="text" class="form-control" id="password" name="password">
        </div>
      </div>

      <div class="row-form"></br></div>
      <div class="row-form">
        <div class="col">
          <button type="submit" class="btn btn-primary">登入</button>
        </div>
      </div>
    </form>

{% endblock %}

