{% extends "base.html" %}

{% block title %}使用者登入{% endblock %}

{% block main %}

  <div class="container" style="margin: 4em auto">
    
    <div class="row_login">
      <h2 style="color:#3D7878" class="fas fa-key" style="text-indent:5px">使用者登入</h2>
    </div>

    <form method="POST" action="/login" autocomplete="off">
      <div class="row"></br></div>
      <div class="row-form">
        <label for="user_id" class="col-1">帳號：</label>
        <div class="col-3">
          <input type="text" class="form-control" id="user_id" name="user_id">
        </div>
      </div>

      <div class="row"></br></div>

      <div class="row-form">
        <label for="password" class="col-1">密碼：</label>
        <div class="col-3">
          <input type="text" class="form-control" id="password" name="password">
        </div>
      </div>

      <div class="row"></br></div>
      <div class="row">
        <div class="col-2">
          <button type="submit" class="btn btn-primary">登入</button>
        </div>
        <div class="col-2">
          <a href="/new_account" role="button" style="text-indent:20px; font-size:18px;">註冊新帳號</a>
        </div>
      </div>

    </form>

{% endblock %}

