{% extends "base.html" %}

{% block title %}活動詳細資訊{% endblock %}

{% block main %}

  <div class="container" style="margin: 4em auto">
    <div class="row-title">
      <h1><i class="fab fa-line"></i> 歡迎使用<font color="#408080"><strong> 邊緣人揪團 LINE ChatBot</strong></font>！</h1>
    </div>

    <div></br></div>


    <div class="box">
      <style>
      .box{
         border:0px ;
         margin: 0px 8px;
         padding:45px 40px 45px 45px;
         }
      </style>
      <div class = "row">
        <div class="col-5">
          <img src="static/img/logo.jpg" width="350" height="350">
        </div>

        <div class="col">
          <div class="row"><h3></br> 請直接掃描 QRcode 或搜尋 LINE id</h3></div>

          <div class="row">
            <img src="static/img/QRcode.png" width="250" height="250">
            <font size="5"><i class="far fa-id-card"></i><strong> @696aieqn</br></strong></font>
          </div>


        </div>
      </div>
    </div>

{% endblock %}


