{% extends "base.html" %}

{% block title %}我的開團紀錄{% endblock %}

{% block main %}

  <div class="container" style="margin: 4em auto">

    <div class="row-title">
      <h1 style="color:#3D7878"><img src="static/img/my_group.png" width="65" height="65"> 我的開團紀錄</h1>
    </div>
    <div></br></div>

    {% macro group_list(total_data) -%}
      {% if total_data %}
        {% for data in total_data %}
          <div class="row" style="margin:8px 0px">

            <div class="box-type" style="width:95px; marging:0 auto">
              <span style="background-color:#dfefff; font-size:16px">&ensp;{{data[1]}}&ensp;</span>
            </div>
            <div class="box-name" style="width:260px; vertical-align:middle">
              <form action="/my_registration" method="post">
                <input name="activity_no" type="hidden" value={{data[0]}}>
                <button type="submit" style="color:#3C3C3C; background-color:#ffffff; border:none"><font size="5"><b>{{data[2]}}</b></font></button>
              </form>
            </div>

          </div>
        {% endfor %}

      {% else %}
        <div class="row">
          <h4 style="text-indent:20px"><font color=#7B7B7B> 目前無紀錄！</font></h4>
        </div>

      {% endif %}
    {%- endmacro %}

    {% set now_group_data, past_group_data = html_data %}

    <div class="row">

      <div class="col-1"></div>

      <div class="col-5">
        <div class="box">
          <style>
          .box{
             width:430px;
             border: 5px #dfefff solid;
             margin: 0px 8px;
             padding: 25px 20px;
             min-height: 450px
             }
          </style>
          
          <h3>&emsp;<i class="fas fa-list"></i> 即將來臨的活動</h3>
          <hr class="my-4">
          
          {{ group_list(now_group_data) }}

        </div>
      </div>

      <div class="col-5">
        <div class="box">
          <style>
          .box{
             width:430px;
             border: 5px #dfefff solid;
             margin: 0px 8px;
             padding: 25px 20px;
             min-height: 450px
             }
          </style>

          <h3>&emsp;<i class="fas fa-list"></i> 歷史開團紀錄</h3>
          <hr class="my-4">

          {{ group_list(past_group_data) }}

        </div>
      </div>

      <div class="col-1"></div>
    </div>

  </div>
{% endblock %}

