{% extends "base.html" %}

{% block title %}我的開團紀錄{% endblock %}

{% block main %}

  <div class="container" style="margin: 4em auto">

    <div class="row-title">
      <h1><img src="static/img/my_group.png" width="65" height="65"> 我的開團紀錄</h1>
    </div>
    <div></br></div>

    {% macro group_list(total_data) -%}
      {% if total_data %}
        {% for data in total_data %}
          <div class="row">
            <form action="/my_group" method="post">
              <input name="group_data" type="hidden" value={{data}}>
              <h4 style="text-indent:20px; margin:8px 0px">
                <a style="background-color:#3C3C3C; font-size:16px">&ensp;{{data[1]}}&ensp;</a>
                <input type="submit" value="{{data[2]}}" style="color:#7B7B7B; background-color:#ffffff; border:none"">
              </h4>
            </form>
          </div>
        {% endfor %}

      {% else %}
        <div class="row">
          <h4 style="text-indent:20px"><font color=#7B7B7B> 目前無紀錄！</font></h4>
        </div>

      {% endif %}
    {%- endmacro %}

    {% set now_group_data, past_group_data = html_data %}

    <div class="row">
      <div class="col-1"></div>
      <div class="col">
        <div class="box">
          <style>
          .box{
             border: 5px #dfefff solid;
             margin: 0px 8px;
             padding: 25px 30px;
             min-height: 450px
             }
          </style>
          
          <h3><i class="fas fa-list"></i> 即將來臨的活動</h3>
          <hr class="my-4">
          
          {{ group_list(now_group_data) }}

        </div>
      </div>

      <div class="col">
        <div class="box">
          <style>
          .box{
             border: 5px #dfefff solid;
             margin: 0px 8px;
             Padding: 25px 30px;
             min-height: 450px
             }
          </style>

          <h3><i class="fas fa-list"></i> 歷史開團紀錄</h3>
          <hr class="my-4">

          {{ group_list(past_group_data) }}

        </div>
      </div>
      <div class="col-1"></div>
    </div>

  </div>
{% endblock %}

