{% extends "base.html" %}

{% block title %}我的開團紀錄{% endblock %}

{% block main %}

  <div class="container" style="margin: 4em auto">

    <div class="row-title">
      <h1><img src="static/img/my_group.png" width="65" height="65">我的開團紀錄</h1>
    </div>
    <div></br></div>

    <div class="row">
      <div class="col">
        <div class="box">
          <style>
          .box{
             border:5px #dfefff solid;
             margin: 0px 8px;
             padding:45px;
             min-height:650px
             }
          </style>
          
          <h4><i class="fas fa-list"></i>即將來臨的活動</h4>
        </div>
      </div>

      <div class="col">
        <div class="box">
          <style>
          .box{
             border:5px #dfefff solid;
             margin: 0px 8px;
             padding:45px;
             min-height:650px
             }
          </style>

          <h4><i class="fas fa-list"></i>歷史開團紀錄</h4>
        </div>
      </div>
    </div>

  </div>
{% endblock %}

