{% extends "base.html" %}

{% block title %}我的報名紀錄{% endblock %}

{% block main %}

  <div class="container" style="margin: 4em auto">

    <div class="row-title">
      <h1 style="color:#3D7878"><img src="static/img/my_registration.png" width="65" height="65"> 我的報名紀錄</h1>
    </div>
    <div></br></div>

    {% macro group_list(total_data) -%}
      {% if total_data %}
        {% for data in total_data %}
          <tr>
            <td width="85" align="center" valign="center">
              <p style="background-color:#dfefff; font-size:16px">&ensp;{{data[1]}}&ensp;</p>
            </td>
            <td width="265" align="left" valign="center">
              <form action="/my_registration" method="post">
                <input name="activity_no" type="hidden" value={data[0]}}>
                <button type="submit" style="color:#3C3C3C; background-color:#ffffff; border:none; padding:0px 5px"><font size="5"><p align="left">&ensp;{{data[2]}}</p></font></button>
              </form>
            </td>
          </tr>
        {% endfor %}


      {% else %}
        <div class="row">
          <h4 style="text-indent:20px"><font color=#7B7B7B> 目前無紀錄！</font></h4>
        </div>

      {% endif %}
    {%- endmacro %}

    {% set now_registration_data, past_registration_data = html_data %}

    <div class="row">

      <div class="col-1"></div>

      <div class="col-5">
        <div class="box">
          <style>
          .box{
             width:430px;
             border: 5px #dfefff solid;
             margin: 0px 8px;
             padding: 25px 35px;
             min-height: 450px
             }
          </style>
          
          <h3>&ensp;<i class="fas fa-list"></i> 我報名的團</h3>
          <hr class="my-4">

          <table>
            {{ group_list(now_registration_data) }}
          </table>

        </div>
      </div>

      <div class="col-5">
        <div class="box">
          <style>
          .box{
             width:430px;
             border: 5px #dfefff solid;
             margin: 0px 8px;
             padding: 25px 35px;
             min-height: 450px
             }
          </style>

          <h3>&ensp;<i class="fas fa-list"></i> 歷史報名紀錄</h3>
          <hr class="my-4">

          <table>
            {{ group_list(past_registration_data) }}
          </table>

        </div>
      </div>
      <div class="col-1"></div>
    </div>

  </div>
{% endblock %}

