{% extends "base.html" %}

{% block title %}活動詳細資訊{% endblock %}

{% block main %}

  <div class="container" style="margin: 4em auto">
    <div class="row-title">
      <h1 style="color:#3D7878"><i class="fas fa-list"></i> 活動詳細資訊</h1>
    </div>

    <div></br></div>

    {% set group_data, attendee_data = html_data %}

    <div class="box-record-detail">

        <div class="row">
          <div class="col-5">
            <div class="img-group" style="background-image: url({{group_data[12]}})"> 
              <style>
              .img-group{
                width: 350px;
                height: 350px;
                border-radius: 0%;
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                }
              </style>
            </div>
          </div>


          <div class="col-4" style="border-width:0px 0px 0px 5px; border-color:#dfefff; border-style:solid; padding:5px 20px 0px 45px">
            <div class="row"><h3>{{group_data[2]}}</h3></div>
            <div class="row">
              <span style="line-height: 30px"><font color="#7B7B7B" size="4">活動時間： {{group_data[3]}}&emsp;{{group_data[4]}}</br>
                                          活動地點： {{group_data[5]}}</br>
                                          活動人數： {{group_data[15]}} / {{group_data[8]}}</br>
                                          活動費用： {{group_data[9]}}</br>
                                          報名截止日： {{group_data[10]}}</br>
                                          活動敘述： {{group_data[11]}}</br>
                                          主揪姓名： {{group_data[13]}}</br>
                                          主揪電話： {{group_data[14]}}</br></font>
              </span>
            </div>
          </div>
 
          <div class="col-3" style="border-width:0px 0px 0px 5px; border-color:#dfefff; border-style:solid; padding:5px 20px 0px 45px">
            <div class="row"><h3>我的報名資料</h3></div>
            <hr class="my-4">
            {% if attendee_data %}
              {% for attendee in attendee_data %}
                <h5> {{attendee[3]}}</br></h5>
                <span><font color="#7B7B7B" size="3"> {{attendee[4]}}</br></font></span>
                
                <div class="row", style="margin:5px 0px 0px"> 
                  <form action="/r_cancel" method="post">
                    <input name="registration_no" type="hidden" value="{{attendee[0]}}">
                    <input name="activity_no" type="hidden" value="{{attendee[1]}}">
                    <input name="activity_name" type="hidden" value="{{group_data[2]}}">
                    <button type="submit" class="btn btn-primary" style="background-color:#81C0C0; border:0px">取消報名</button>
                  </form>
                </div>
                <span></br></span>
                
              {% endfor %}
            </div>

            {% else %}
               <span><font color="#7B7B7B"> 目前無資料！</br></font></span>
            {% endif %}

          </div>

        </div>
      </div>

  </div>

{% endblock %}


