{% extends "base.html" %}

{% block title %}註冊新帳號{% endblock %}

{% block main %}

  <div class="container" style="margin: 4em auto">
    
    <div class="row_login">
      <h2 class="fas fa-search" style="text-indent:5px">註冊新帳號</h2>
    </div>

    <form method="POST" action="/new_account" autocomplete="off">
      {% macro easy_row(id, type, text) -%}
        <div class="row">
          <label for={{id}} class="col-1 col-form-label" style="line-height:30px">{{text}}：</label>
          <div class="col-3">
            <input type={{type}} class="form-control" id={{id}} name={{id}} required>
          </div>
        </div>
      {%- endmacro %}
      
      {{ easy_row("user_name", "text", "姓名") }}
      {{ easy_row("user_phone", "text", "電話") }}
      {{ easy_row("user_id", "text", "帳號") }}
      {{ easy_row("password", "password", "密碼") }}
     
      <div class="row-form"></br></div>
      <div class="row-form">
        <div class="col">
          <button type="submit" class="btn btn-primary">送出申請</button>
        </div>
      </div>

    </form>

{% endblock %}

