{% extends "base.html" %}

{% block title %}我要報名{% endblock %}

{% block main %}

  <div class="container" style="margin: 4em auto">

    <div class="row-title">
      <h1><img src="static/img/registration.png" width="80" height="80"> 我要報名</h1>
    </div>
    <div class="row align-items-start">
      <h2 style="text-indent:10px"><i class="far fa-clipboard"></i> 請輸入活動查詢條件</h2>
    </div>

    <div class="row"></br></div>

    <form method="post" action="/registration"> 

      <div class="row">
        <label for="activity_type" class="col-2 offset-1 col-form-label">請選擇活動類型</label>
        <div class="col-3"> 
          <select id="activity_type", name="activity_type"}>
            <option value="">所有資料</option>
            <option value="登山踏青">登山踏青</option>
            <option value="桌遊麻將">桌遊麻將</option>
            <option value="吃吃喝喝">吃吃喝喝</option>
            <option value="唱歌跳舞">唱歌跳舞</option> 
          </select>
        </div>
      </div>

      <div class="row">
        <label for="cost" class="col-2 offset-1 col-form-label">請輸入活動費用範圍</label>
        <div class="col-2">
          <input type="number" class="form-control" id="cost" name="cost_min">
            <small class="form-text">活動費用下限</small>
        </div>
        <div class="col-1"> 至 </div>
        <div class="col-2">
          <input type="number" class="form-control" id="cost" name="cost_max">
            <small class="form-text">活動費用上限</small>
        </div>
      </div>
      
      <div class="row"></div>
        <div class="col"></br></div>

      <div class="row">
        <div class="col"></div>
        <div class="col">
          <button type="submit" class="btn btn-primary">查詢</button>
        </div>
      </div>

    </form>

    <hr class="my-4">
    <div class="row"></br></div>

    
    <!-- show data -->

    {% for data_4 in html_data %}
    <div class="row">

      {% for data in data_4 %}

        <div class="box">
          <style>
          .box{
            border:5px #dfefff solid;
            margin: 0px 8px;
            padding:15px;
            width:260px;
          }
          </style>

          <p style="background:#dfefff; padding:5px" >{{data[0]}}</p>
          <div class="img-group" style="background-image: url({{data[1]}})"> 
            <style>
            .img-group{
              width: 15vw;
              height: 15vw;
              border-radius: 0%;
              background-size: 100%;
              background-repeat: no-repeat;
              background-position: 50% 50%;
            }
            </style>
          </div>

          <span></br></span>
          <h5>{{data[2]}}</h5>

          <div class="box-2" style="weight:230px; min-height:120px">
            <span><font color="#7B7B7B">地點: {{data[3]}}</br>時間: {{data[4]}} {{data[5]}}</br>費用: {{data[6]}}</font></span>
          </div>
         
          <div class="row"> 
            <form action="/" method="post">
              <input name="activity_no" type="hidden" value="{{data[-1]}}">
              <div style="left=15px"><input type="submit" value="詳細資訊"></div>
            </form>

            <form action="/" method="post">
              <input name="activity_no" type="hidden" value="{{data[-1]}}">
              <div style="left=15px"><input type="submit" value="我要報名"></div>
            </form>

          </div>

        </div>
      
      {% endfor %}

    </div>

    <span></br></span>
    {% endfor %}

  </div>

{% endblock %}


