{% extends "base.html" %}

{% block title %}我要開團{% endblock %}

{% block main %}

  <div class="container" style="margin: 4em auto">
    <div class="row align-items-start">
      <div class="col">
        <p></p>
        <h2><i class="far fa-clipboard"></i> 請輸入活動查詢條件</h2>
      </div>
    </div>

  <!-- 宣告一個巨集 -->
    {% macro form(label_text, small_text) -%}
      <div class="form-group row">
        <label for="activity_type" class="col-2 offset-1 col-form-label">{{label_text}}</label>
        <div class="col-3"> 
          <input type="text" class="form-control" id="activity_type" name="activity-type">
            <small class="form-text">{{small_text}}</small>
        </div>
      </div>
    {%- endmacro %}

    <form method="post" action="/search_group_1">
      {{ form("請輸入活動類型", "登山踏青/桌遊麻將/吃吃喝喝/唱歌跳舞") }}

      <div class="from-group row">
        <label for="cost" class="col-2 offset-1 col-form-label">請輸入活動費用範圍</label>
        <div class="col-2">
          <input type="text" class="form-control" id="cost" name="cost_min">
            <small class="form-text">活動費用下限</small>
        </div>
        <div class="col-1"> 至 </div>
        <div class="col-2">
          <input type="text" class="form-control" id="cost" name="cost_max">
            <small class="form-text">活動費用上限</small>
        </div>
      </div>
      
      <div class="row"></div>
        <div class="col"></br></div>

      <div class="row">
        <div class="col"></div>
        <div class="col">
          <button type="submit" class="btn btn-primary">查詢</button>
        </div>
      </div>

    </form>
  </div>
  
{% endblock %}

